#p1
{
    background-color: aqua;
    height: 700px;
    width: 400px;
    float: left;

}


#p2
{
    background-color: aquamarine;
    height: 700px;
    width: 400px;
    float: left;
}


#p3
{
    background-color: blue;
    height: 700px;
    width: 400px;
    float: left;
}
